body {
    font-family: sans-serif;
    font-size:16px;
    font-weight: 400;
}
@media (min-width: 960px){
    .wrapper {
        display:flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        align-items: flex-start;
    }
    .wrapper .center {
        max-width: 1280px;

    }
}

/* START Videos with Chapters */
figure.video_chapters { 
    font-size: 0; 
    position: relative; 
    background: #000; 
    margin: 0; 
}
figure.video_chapters video { 
    width: 75%;
    height: auto;
    display: inline-block; 
}
figure.video_chapters figcaption { 
    position: absolute;
    right: 0;
    top: 0;
    background: #222;
    width: 25%;
    font-size: 1rem;
    color: #999;
    height: 100%;
    overflow-y: scroll;
    -moz-scrollbars-vertical: ;
}
figure.video_chapters figcaption ol { 
    position: relative;
    list-style-type: none;
    margin: 0; 
    padding: 0; 
}
figure.video_chapters figcaption ol li a { 
    display: block; 
    padding: .7rem 1rem; 
    border-bottom: 1px dashed #000; 
    transition: .3s;
    font-family: 'Merriweather', serif;
}
figure.video_chapters figcaption ol li.watched a {
    background: hsla(45,80%,50%,.3);
}
figure.video_chapters figcaption ol li a.current { 
    background: hsl(45,80%,50%); 
    color: #000;  
}
figure.video_chapters figcaption ol li a:not(.current):hover, 
figure.video_chapters figcaption ol li a:not(.current):focus { 
    background: hsl(45,80%,30%); 
    color: #000; 
    cursor: pointer;
}


figure.video_chapters figcaption ol li a small {
    clear: both;
    display: block;
    font-size: .75em;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
} 
figure.video_chapters figcaption ol li a small::before {
    content:'';
    clear: both;
    display: block;
}
figure.video_chapters figcaption::-webkit-scrollbar {
    width: 13px;
    height: 100%;
}
figure.video_chapters figcaption::-webkit-scrollbar-track {
    background-color: #000; 
}
figure.video_chapters figcaption::-webkit-scrollbar-thumb:vertical {
    background: hsl(45,80%,20%);
    width: 13px;
    height: 20px;
}

@media screen and (max-width: 500px) {
    figure.video_chapters video, 
    figure.video_chapters figcaption { 
        display: block; 
        width: 100%;
    }
    figure.video_chapters video { 
        border-bottom: 10px solid #111;
    }
    figure.video_chapters figcaption { 
    position: static; 
    height: 200px;
    }
}
/* END Videos with Chapters */
